<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>FarmaciaAPP</title>
<link rel="stylesheet" href="./style.css"/>
</head>
<body>
	<h1>Cadastro de Remedios</h1>

	<form method="post">
		<label>Nome:</label><input type="text" value="" name="nome" /> <br />
        <label>Marca:</label><input type="text" value="" name="marca" /> <br />
        <label>Bula:</label><input type="text" value="" name="bula" /> <br />        
        <label>Posologia:</label><input type="text" value="" name="posologia" /> <br />
        <label>Lote:</label><input type="text" value="" name="lote" /> <br />
        <label>Vencimento:</label><input type="date" value="" name="vencimento" /> <br />
        <label>Estoque:</label><input type="number" value="" name="estoque" /> <br />

        <button type="submit">Salvar</button>		
	</form>
</body>
</html>




